<%- include('../partials/header') %>

<form action="/skills" method="POST">
    <input type="text" name="skill">
    <button type="submit">Save Skill</button>
</form>

<%- include('../partials/footer') %>