body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FFEBCD;
  color: #EF9A9A;
}

a {
  color: #00B7FF;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
    
.delete-form button {
  color: red;
}
    
li {
  list-style: none;
}